name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel
        pip install -r dev-requirements.txt
    - name: Create sdist
      run: |
        python setup.py sdist
    - name: Build manylinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.5.0-manylinux2014_x86_64
      with:
        python-versions: 'cp37-cp37m cp38-cp38 cp39-cp39 cp310-cp310'
        system-packages: 'libdrm-devel'
        build-requirements: 'cython'
    - name: Build musllinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.5.0-musllinux_1_1_x86_64
      with:
        python-versions: 'cp37-cp37m cp38-cp38 cp39-cp39 cp310-cp310'
        system-packages: 'libdrm-devel'
        build-requirements: 'cython'
