name: PyPi Upload

on:
  release:
    types: [created]



jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        pip install -r dev-requirements.txt
    - name: Create sdist
      run: |
        python setup.py sdist
    - name: Build manylinux Python wheels
      uses: RalfG/python-wheels-manylinux-build@v0.4.2-manylinux2014_x86_64
      with:
        python-versions: 'cp36-cp36m cp37-cp37m cp38-cp38 cp39-cp39 cp310-cp310'
        system-packages: 'libdrm-devel'
        build-requirements: 'cython'
    - name: Copy wheels
      run: |
        mkdir output-wheels
        cp dist/*-manylinux*.whl output-wheels
        cp dist/*.tar.gz output-wheels
    - name: Publish
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages_dir: output-wheels/
