name: Build

on: [push, pull_request]

jobs:

  build-sdist:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel
        pip install -r dev-requirements.txt
    - name: Create sdist
      run: |
        python setup.py sdist

  build-wheels:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cibuildwheel==2.16.2
    - name: Build Python wheels
      run: python -m cibuildwheel --output-dir wheelhouse
